body{
  background-image: url("/image/background.jpeg");
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

/* ------------------------------MAIN-DIV---------------------------------- */

.main-div{
  background-color: aliceblue;
  margin: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(138, 184, 245, 0.3);
  box-shadow: 20px 20px 100px 20px rgb(30, 30, 82);
  cursor: pointer;
}

/* -------------------------------LEFT-DIV------------------------------- */

.left-div{
  padding: 50px;
}

.left-div h1{
  font-family: 'Jomhuria', cursive;
  color: #fff;
  font-size: 5rem;
  font-weight: 400;
}

.city{
  color: whitesmoke;
}

.left-div h3{
  font-weight: 700;
  font-size: 1rem;
}

.img-1{
  width: 250px;
  height: 250px;
}
.content-display{
  position: relative;
}

.temperature{
  font-size: 4rem;
  font-weight: 700;
  color: whitesmoke;
}

.image{
  margin-left: 10px;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 0px;
}

/* --------------------------------RIGHT-DIV-------------------------------- */

.right-div{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 50px;
  background-color: rgba(21, 56, 102, 0.2);
}

.input-field{
  margin-bottom: 50px;
}

#inputArea{
  padding-bottom: 7px;
  background-color: transparent;
  border: 0px solid;
  border-bottom: 1px solid black;
  width: 160px;
  color: #CCC;
  outline: none;
}

#inputArea::placeholder{
  color: grey;
}

.search-button{
  margin-left: 20px;
  width: 50px;
  outline: none;
  border-radius: 0px;
}

.search-button:hover{
  border: 1px solid white;
  background: transparent;
}

.wether-details h3{
  font-size: 2.5rem;
  color: white;
  margin-bottom: 10px;
}

td{
  padding: 10px 20px 20px 1px;
  font-size: 1rem;
  color: whitesmoke;
}
